<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <mat-card>
    <div>
      DNI: {{ dniDocente || 'DNI no disponible' }}
    </div>
    <br>
    <div>
      <mat-label>Fecha de Registro: {{ fechaDeRegistro | date:'dd/MM/yyyy' }}</mat-label>
    </div>
    <br>
    <div>
      Fecha a reservar:
    </div>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker>
      </mat-datepicker>
    </mat-form-field>
    <div class="reserva-title">
      Inicio de reserva:
    </div>
    <br>
    <mat-form-field>
      <mat-label>
        Inicio de reserva:
      </mat-label>
      <mat-select [(ngModel)]="opcionSeleccionadaInicio" name="opcionSeleccionada"(ngModelChange)="compareFechas()">
        <mat-option value="1">7:00 AM - BLOQUE I</mat-option>
        <mat-option value="3">8:40 AM - BLOQUE II</mat-option>
        <mat-option value="5">10:20 AM - BLOQUE III</mat-option>
        <mat-option value="7">12:00 PM - BLOQUE IV</mat-option>
        <mat-option value="9">2:00 PM - BLOQUE V</mat-option>
        <mat-option value="11">3:40 PM - BLOQUE VI</mat-option>
        <mat-option value="13">5:20 PM - BLOQUE VII</mat-option>
        <mat-option value="15">7:00 PM - BLOQUE VIII</mat-option>
        <mat-option value="17">8:30 PM - BLOQUE IX</mat-option>
        <mat-option value="19">10:00 PM - BLOQUE X</mat-option>
        <mat-option value="21">11:30 PM - BLOQUE XI</mat-option>
        <mat-option value="23">1:00 AM - BLOQUE XII</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="reserva-title">
      Fin Reserva
    </div>
    <br>
    <mat-form-field>
        <mat-label>
          Fin de reserva
        </mat-label>
        <mat-select [(ngModel)]="opcionSeleccionadaFin" name="opcionSeleccionada"(ngModelChange)="compareFechas()">
          <mat-option value="2">8:30 AM - BLOQUE I</mat-option>
          <mat-option value="4">10:10 AM - BLOQUE II</mat-option>
          <mat-option value="6">11:50 AM - BLOQUE III</mat-option>
          <mat-option value="8">1:30 PM - BLOQUE IV</mat-option>
          <mat-option value="10">3:30 PM - BLOQUE V</mat-option>
          <mat-option value="12">5:10 PM - BLOQUE VI</mat-option>
          <mat-option value="14">6:50 PM - BLOQUE VII</mat-option>
          <mat-option value="16">8:30 PM - BLOQUE VIII</mat-option>
          <mat-option value="18">10:00 PM - BLOQUE IX</mat-option>
          <mat-option value="20">11:30 PM - BLOQUE X</mat-option>
          <mat-option value="22">1:00 AM - BLOQUE XI</mat-option>
        </mat-select>
        <div *ngIf="horaFinMenorOIgual">La hora de finalización debe ser mayor que la hora de inicio</div>
    </mat-form-field>
    <div>
      Asignatura - NRC
    </div>
    <br>
    <mat-form-field>
      <mat-label>
        Asignatura / NRC
      </mat-label>
      <mat-select [(ngModel)]="selectedAsignatura" name="selectedAsignatura" (ngModelChange)="onAsignaturaChange()">
        <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.ID_Asignatura">
          {{ asignatura.Nombre_Asignatura }} ({{ asignatura.NRC }}) - ID: {{ asignatura.ID_Asignatura }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      Laboratorio
    </div>
    <mat-form-field>
      <mat-label>Selecciona un laboratorio</mat-label>
      <mat-select [(ngModel)]="selectedLaboratorio" name="selectedLaboratorio" [disabled]="!(dniDocente && selectedAsignatura)" (ngModelChange)="onLaboratorioChange()">
        <ng-container *ngIf="laboratorios.length; else noLaboratorios">
          <mat-option *ngFor="let laboratorio of laboratorios" [value]="laboratorio.ID_Laboratorio">
            {{ laboratorio.Nombre_Laboratorio }}
          </mat-option>
        </ng-container>
        <ng-template #noLaboratorios>
          <mat-option disabled>No hay laboratorios para esta asignatura</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <div *ngIf="availableLicenses !== null">
      <div *ngIf="availableLicenses > 0">
        Cantidad de Licencias Disponibles: {{ availableLicenses }}
      </div>
      <div *ngIf="availableLicenses === 0">
        Este laboratorio no cuenta con licencias disponibles.
      </div>
    </div>
    <br>
    <div>Cantidad de Licencias Reservadas:</div>
      <br>
      <input type="text" name="cantidadLicencias" (input)="onInputChange($event)">
      <br>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <button mat-button type="submit" [disabled]="isButtonDisabled">
        Enviar
      </button>
  </mat-card>
</form>