<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-2">
    <a routerLink="/new-reserva" class="btn btn-outline-primary me-2">Crear Reserva</a>
  </div>

  <div class="mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>ID Reserva</th>
          <th>Fecha Registro</th>
          <th>Fecha Reserva</th>
          <th>Licencias Reservadas</th>
          <th>Nombre Asignatura</th>
          <th>Nombre Laboratorio</th>
          <th>Bloque Inicio</th>
          <th>Hora Inicio</th>
          <th>Bloque Fin</th>
          <th>Hora Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.ID_Reserva }}</td>
          <td>{{ reserva.Fecha_Registro }}</td>
          <td>{{ reserva.Fecha_Reserva }}</td>
          <td>{{ reserva.Cantidad_Licencias_Reservadas }}</td>
          <td>{{ reserva.Nombre_Asignatura }}</td>
          <td>{{ reserva.Nombre_Laboratorio }}</td>
          <td>{{ reserva.Nombre_Bloque_Inicio }}</td>
          <td>{{ reserva.Hora_Inicio }}</td>
          <td>{{ reserva.Nombre_Bloque_Fin }}</td>
          <td>{{ reserva.Hora_Fin }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
